{% extends 'web/_layouts/base.html' %}
{% block title %}Registo{% endblock %}

{% block content %}
<div class="content">
    <h1>Registo</h1>

    <div class="container m-4">
        <form method="post" action="/salvar/">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-md-12">
                    <label for="">Nome:</label>
                    <input type="text" name="nome" class="form-control"/>
                </div>
                <div class="col-md-12">
                    <label for="">Genero:</label>
                   <select name="genero" class="form-control">
                    <option value="" hidden>Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                   </select>
                </div>
                <div class="col-md-12 mt-2">
                    <button class="btn btn-primary btn-block">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
    
  
